<div class="main-content" style="transform: translate3d(0px, 0px, 0px); opacity: 1;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">202 Awesome Stroke Icons</h4>
                    <p class="category">Handcrafted by our friends from <a href="http://themes-pixeden.com/font-demos/7-stroke/index.html" target="_blank">Pixeden</a></p>
                </div>
                <div class="content all-icons">
                    <div class="row">
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-album"></i>
                                <input value="pe-7s-album" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-arc"></i>
                                <input value="pe-7s-arc" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-back-2"></i>
                                <input value="pe-7s-back-2" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-bandaid"></i>
                                <input value="pe-7s-bandaid" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-car"></i>
                                <input value="pe-7s-car" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-diamond"></i>
                                <input value="pe-7s-diamond" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-door-lock"></i>
                                <input value="pe-7s-door-lock" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-eyedropper"></i>
                                <input value="pe-7s-eyedropper" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-female"></i>
                                <input value="pe-7s-female" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-gym"></i>
                                <input value="pe-7s-gym" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-hammer"></i>
                                <input value="pe-7s-hammer" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-headphones"></i>
                                <input value="pe-7s-headphones" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-helm"></i>
                                <input value="pe-7s-helm" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-hourglass"></i>
                                <input value="pe-7s-hourglass" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-leaf"></i>
                                <input value="pe-7s-leaf" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-magic-wand"></i>
                                <input value="pe-7s-magic-wand" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-male"></i>
                                <input value="pe-7s-male" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-map-2"></i>
                                <input value="pe-7s-map-2" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-next-2"></i>
                                <input value="pe-7s-next-2" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-paint-bucket"></i>
                                <input value="pe-7s-paint-bucket" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-pendrive"></i>
                                <input value="pe-7s-pendrive" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-photo"></i>
                                <input value="pe-7s-photo" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-piggy"></i>
                                <input value="pe-7s-piggy" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-plugin"></i>
                                <input value="pe-7s-plugin" type="text">
                            </div>
                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-refresh-2"></i>
                                <input value="pe-7s-refresh-2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-rocket"></i>
                                <input value="pe-7s-rocket" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-settings"></i>
                                <input value="pe-7s-settings" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-shield"></i>
                                <input value="pe-7s-shield" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-smile"></i>
                                <input value="pe-7s-smile" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-usb"></i>
                                <input value="pe-7s-usb" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-vector"></i>
                                <input value="pe-7s-vector" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-wine"></i>
                                <input value="pe-7s-wine" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-cloud-upload"></i>
                                <input value="pe-7s-cloud-upload" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-cash"></i>
                                <input value="pe-7s-cash" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-close"></i>
                                <input value="pe-7s-close" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-bluetooth"></i>
                                <input value="pe-7s-bluetooth" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-cloud-download"></i>
                                <input value="pe-7s-cloud-download" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-way"></i>
                                <input value="pe-7s-way" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-close-circle"></i>
                                <input value="pe-7s-close-circle" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-id"></i>
                                <input value="pe-7s-id" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-up"></i>
                                <input value="pe-7s-angle-up" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-wristwatch"></i>
                                <input value="pe-7s-wristwatch" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-up-circle"></i>
                                <input value="pe-7s-angle-up-circle" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-world"></i>
                                <input value="pe-7s-world" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-right"></i>
                                <input value="pe-7s-angle-right" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-volume"></i>
                                <input value="pe-7s-volume" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-right-circle"></i>
                                <input value="pe-7s-angle-right-circle" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-users"></i>
                                <input value="pe-7s-users" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-left"></i>
                                <input value="pe-7s-angle-left" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-user-female"></i>
                                <input value="pe-7s-user-female" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-left-circle"></i>
                                <input value="pe-7s-angle-left-circle" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-up-arrow"></i>
                                <input value="pe-7s-up-arrow" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-down"></i>
                                <input value="pe-7s-angle-down" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-switch"></i>
                                <input value="pe-7s-switch" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-angle-down-circle"></i>
                                <input value="pe-7s-angle-down-circle" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-scissors"></i>
                                <input value="pe-7s-scissors" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-wallet"></i>
                                <input value="pe-7s-wallet" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-safe"></i>
                                <input value="pe-7s-safe" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-volume2"></i>
                                <input value="pe-7s-volume2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-volume1"></i>
                                <input value="pe-7s-volume1" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-voicemail"></i>
                                <input value="pe-7s-voicemail" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-video"></i>
                                <input value="pe-7s-video" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-user"></i>
                                <input value="pe-7s-user" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-upload"></i>
                                <input value="pe-7s-upload" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-unlock"></i>
                                <input value="pe-7s-unlock" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-umbrella"></i>
                                <input value="pe-7s-umbrella" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-trash"></i>
                                <input value="pe-7s-trash" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-tools"></i>
                                <input value="pe-7s-tools" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-timer"></i>
                                <input value="pe-7s-timer" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-ticket"></i>
                                <input value="pe-7s-ticket" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-target"></i>
                                <input value="pe-7s-target" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-sun"></i>
                                <input value="pe-7s-sun" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-study"></i>
                                <input value="pe-7s-study" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-stopwatch"></i>
                                <input value="pe-7s-stopwatch" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-star"></i>
                                <input value="pe-7s-star" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-speaker"></i>
                                <input value="pe-7s-speaker" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-signal"></i>
                                <input value="pe-7s-signal" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-shuffle"></i>
                                <input value="pe-7s-shuffle" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-shopbag"></i>
                                <input value="pe-7s-shopbag" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-share"></i>
                                <input value="pe-7s-share" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-server"></i>
                                <input value="pe-7s-server" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-search"></i>
                                <input value="pe-7s-search" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-film"></i>
                                <input value="pe-7s-film" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-science"></i>
                                <input value="pe-7s-science" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-disk"></i>
                                <input value="pe-7s-disk" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-ribbon"></i>
                                <input value="pe-7s-ribbon" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-repeat"></i>
                                <input value="pe-7s-repeat" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-refresh"></i>
                                <input value="pe-7s-refresh" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-add-user"></i>
                                <input value="pe-7s-add-user" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-refresh-cloud"></i>
                                <input value="pe-7s-refresh-cloud" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-paperclip"></i>
                                <input value="pe-7s-paperclip" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-radio"></i>
                                <input value="pe-7s-radio" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-note2"></i>
                                <input value="pe-7s-note2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-print"></i>
                                <input value="pe-7s-print" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-network"></i>
                                <input value="pe-7s-network" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-prev"></i>
                                <input value="pe-7s-prev" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-mute"></i>
                                <input value="pe-7s-mute" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-power"></i>
                                <input value="pe-7s-power" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-medal"></i>
                                <input value="pe-7s-medal" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-portfolio"></i>
                                <input value="pe-7s-portfolio" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-like2"></i>
                                <input value="pe-7s-like2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-plus"></i>
                                <input value="pe-7s-plus" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-left-arrow"></i>
                                <input value="pe-7s-left-arrow" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-play"></i>
                                <input value="pe-7s-play" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-key"></i>
                                <input value="pe-7s-key" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-plane"></i>
                                <input value="pe-7s-plane" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-joy"></i>
                                <input value="pe-7s-joy" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-photo-gallery"></i>
                                <input value="pe-7s-photo-gallery" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-pin"></i>
                                <input value="pe-7s-pin" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-phone"></i>
                                <input value="pe-7s-phone" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-plug"></i>
                                <input value="pe-7s-plug" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-pen"></i>
                                <input value="pe-7s-pen" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-right-arrow"></i>
                                <input value="pe-7s-right-arrow" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-paper-plane"></i>
                                <input value="pe-7s-paper-plane" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-delete-user"></i>
                                <input value="pe-7s-delete-user" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-paint"></i>
                                <input value="pe-7s-paint" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-bottom-arrow"></i>
                                <input value="pe-7s-bottom-arrow" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-notebook"></i>
                                <input value="pe-7s-notebook" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-note"></i>
                                <input value="pe-7s-note" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-next"></i>
                                <input value="pe-7s-next" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-news-paper"></i>
                                <input value="pe-7s-news-paper" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-musiclist"></i>
                                <input value="pe-7s-musiclist" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-music"></i>
                                <input value="pe-7s-music" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-mouse"></i>
                                <input value="pe-7s-mouse" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-more"></i>
                                <input value="pe-7s-more" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-moon"></i>
                                <input value="pe-7s-moon" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-monitor"></i>
                                <input value="pe-7s-monitor" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-micro"></i>
                                <input value="pe-7s-micro" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-menu"></i>
                                <input value="pe-7s-menu" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-map"></i>
                                <input value="pe-7s-map" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-map-marker"></i>
                                <input value="pe-7s-map-marker" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-mail"></i>
                                <input value="pe-7s-mail" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-mail-open"></i>
                                <input value="pe-7s-mail-open" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-mail-open-file"></i>
                                <input value="pe-7s-mail-open-file" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-magnet"></i>
                                <input value="pe-7s-magnet" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-loop"></i>
                                <input value="pe-7s-loop" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-look"></i>
                                <input value="pe-7s-look" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-lock"></i>
                                <input value="pe-7s-lock" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-lintern"></i>
                                <input value="pe-7s-lintern" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-link"></i>
                                <input value="pe-7s-link" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-like"></i>
                                <input value="pe-7s-like" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-light"></i>
                                <input value="pe-7s-light" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-less"></i>
                                <input value="pe-7s-less" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-keypad"></i>
                                <input value="pe-7s-keypad" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-junk"></i>
                                <input value="pe-7s-junk" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-info"></i>
                                <input value="pe-7s-info" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-home"></i>
                                <input value="pe-7s-home" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-help2"></i>
                                <input value="pe-7s-help2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-help1"></i>
                                <input value="pe-7s-help1" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-graph3"></i>
                                <input value="pe-7s-graph3" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-graph2"></i>
                                <input value="pe-7s-graph2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-graph1"></i>
                                <input value="pe-7s-graph1" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-graph"></i>
                                <input value="pe-7s-graph" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-global"></i>
                                <input value="pe-7s-global" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-gleam"></i>
                                <input value="pe-7s-gleam" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-glasses"></i>
                                <input value="pe-7s-glasses" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-gift"></i>
                                <input value="pe-7s-gift" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-folder"></i>
                                <input value="pe-7s-folder" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-flag"></i>
                                <input value="pe-7s-flag" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-filter"></i>
                                <input value="pe-7s-filter" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-file"></i>
                                <input value="pe-7s-file" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-expand1"></i>
                                <input value="pe-7s-expand1" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-exapnd2"></i>
                                <input value="pe-7s-exapnd2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-edit"></i>
                                <input value="pe-7s-edit" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-drop"></i>
                                <input value="pe-7s-drop" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-drawer"></i>
                                <input value="pe-7s-drawer" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-download"></i>
                                <input value="pe-7s-download" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-display2"></i>
                                <input value="pe-7s-display2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-display1"></i>
                                <input value="pe-7s-display1" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-diskette"></i>
                                <input value="pe-7s-diskette" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-date"></i>
                                <input value="pe-7s-date" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-cup"></i>
                                <input value="pe-7s-cup" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-culture"></i>
                                <input value="pe-7s-culture" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-crop"></i>
                                <input value="pe-7s-crop" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-credit"></i>
                                <input value="pe-7s-credit" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-copy-file"></i>
                                <input value="pe-7s-copy-file" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-config"></i>
                                <input value="pe-7s-config" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-compass"></i>
                                <input value="pe-7s-compass" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-comment"></i>
                                <input value="pe-7s-comment" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-coffee"></i>
                                <input value="pe-7s-coffee" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-cloud"></i>
                                <input value="pe-7s-cloud" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-clock"></i>
                                <input value="pe-7s-clock" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-check"></i>
                                <input value="pe-7s-check" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-chat"></i>
                                <input value="pe-7s-chat" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-cart"></i>
                                <input value="pe-7s-cart" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-camera"></i>
                                <input value="pe-7s-camera" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-call"></i>
                                <input value="pe-7s-call" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-calculator"></i>
                                <input value="pe-7s-calculator" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-browser"></i>
                                <input value="pe-7s-browser" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-box2"></i>
                                <input value="pe-7s-box2" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-box1"></i>
                                <input value="pe-7s-box1" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-bookmarks"></i>
                                <input value="pe-7s-bookmarks" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-bicycle"></i>
                                <input value="pe-7s-bicycle" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-bell"></i>
                                <input value="pe-7s-bell" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-battery"></i>
                                <input value="pe-7s-battery" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-ball"></i>
                                <input value="pe-7s-ball" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-back"></i>
                                <input value="pe-7s-back" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-attention"></i>
                                <input value="pe-7s-attention" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-anchor"></i>
                                <input value="pe-7s-anchor" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-albums"></i>
                                <input value="pe-7s-albums" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-alarm"></i>
                                <input value="pe-7s-alarm" type="text">
                            </div>

                        </div>
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="font-icon-detail"><i class="pe-7s-airplay"></i>
                                <input value="pe-7s-airplay" type="text">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>