<!-- Modal eliminar Organizacion -->
<div class="modal fade" id="eliminarOrg" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Eliminar Organización</h5>
            </div>
            <div class="modal-body">
                <h5>¿Está seguro que quiere eliminar estos registros?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal1">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Ver datos del encargado-->
<div class="modal fade" id="datosEncargado" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Eliminar Organización</h5>
            </div>
            <div class="modal-body">
                <h5>¿Está seguro que quiere eliminar estos registros?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal1">Aceptar</button>
            </div>
        </div>
    </div>
</div>