{% extends 'base.html.twig' %}

{% block title %} Registro Organizacion {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header text-center">
            Bienvenido
            {{  app.user ? app.user.__toString() : 'Desaparecidos!' }}!
        </h1>

    <div class="row">
        <div class="col-sm-5 col-md-3 sidebar">
            <div class="col-lg-offset-1 col-md-12 col-lg-offset-3">

                <h3 class="page-header" >{% block titulo %}<span class="glyphicon glyphicon-info-sign"> Mi Perfil</span>{% endblock %}</h3>
                <ul class="nav nav-sidebar">
                    <li class="{% block m1%} {% endblock %}"><a href="{{ path('encargado_org') }}"><span class="glyphicon glyphicon-user"> Registrar Organizaciones </span></a></li>
                    <li class="{% block m2%} {% endblock %}"><a href="{{ path('user_solicitud') }}" ><span class="glyphicon glyphicon-list"> S</span></a></li>
                    <li class="{% block m3%} {% endblock %}"><a href="{{ path('user_perfil') }}" ><span class="glyphicon glyphicon-search"> Buscar</span></a></li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}